body{
    text-align: center;
    overflow: hidden;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pink{
    background-color:#d55075 ;
}
.teal{
    background-color:#58a0b9 ;
}
.violet{
    background-color:#7794f8;
}
.orange{
    background-color: #fa903b;
}
.gameFlash{
    background-color: azure;
}

.userFlash{
    background-color: darkgray;
}